<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/bootstrap-3.3.2-dist/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="javascripts/angular.min.js"></script>
    <style>



    </style>


  </head>
  <body>
    <div id="wrapper">
    	<div id="sideMenu">
    	</div>

    	<div id="contents">
    		<header id="mainHeader">
    		</header>

    		<div id="mainMenu">
    		</div>

    		<div id="mainContents">
    		</div>

    	</div>

    






    </div>

    
    <script src="javascripts/jquery-1.11.2.min.js"></script>
    <script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
  </body>
</html>
