<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/bootstrap-3.3.2-dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet/less' type='text/css' href='/stylesheets/common.less' />

<script src='javascripts/angular.min.js'></script>
<script src='javascripts/less.min.js'></script>

<style type="text/css">
</style>


</head>
<body>
    <div id="mainMenu">
    </div>

    <div id="contents">
        <header id="mainHeader">
        </header>

        <div id="subMenu">
        </div>

        <div id="wrapper">


            <div id="main">



            </div>

            <div id="footNav">
            </div>





        </div>
    </div>

    <script src="javascripts/jquery-1.11.2.min.js"></script>
    <script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>
