<!DOCTYPE html>
<html>
<head>
<title><%= title %></title>
<link rel='stylesheet' href='/bootstrap-3.3.2-dist/css/bootstrap.min.css' />
<link rel='stylesheet' href='/stylesheets/style.css' />
<link rel='stylesheet/less' type='text/css' href='/stylesheets/common.less' />

<script src='javascripts/angular.min.js'></script>
<script src='javascripts/less.min.js'></script>

<style type="text/css">
</style>


</head>
<body>
    <aside id="mainMenu">
    </aside>

    <section id="content">
        <header id="topNav">
        </header>

        <div id="wrapper">
            <aside id="subMenu">
            </aside>

            <div id="main">
                <div id="mainContent">
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
                    <p>abcd</p>
     
                </div>

                <div id="mainFooter">
                </div>
            </div>

        </div>
    </section>    

    <script src="javascripts/jquery-1.11.2.min.js"></script>
    <script src="bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
</body>
</html>
