@MainMenu : 94px;
@SideMenu : 160px;
@MainHeader : 42px;
@footNav : 30px;

html, body{
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
}


body{


	#mainMenu{
		position: absolute;
		top: 0;
		left: 0;
		width: @MainMenu;
		bottom: 0;
		background-color: red;
	}
	#container{
		position: absolute;
		left: @MainMenu;
		right: 0;
		top: 0;
		bottom: 0;
		background-color: blue;
	
	}
	#header{
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		height: @MainHeader;
		background-color: green;
	}
	#sideMenu{
		position: absolute;
		left: 0;
		top: @MainHeader;
		bottom: 0;
		width: @SideMenu;
		background-color: yellow;
	}
	#content{
		position: absolute;
		left: @SideMenu;
		right: 0;
		top: @MainHeader;
		bottom: 0;
		background-color: black;

		#main{
			position: absolute;
			top: 0;
			bottom: @footNav;
			left: 0;
			right: 0;
			height: auto !important;
			background-color: orange;
		}
		#footer{
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			height: @footNav;
			background-color: red;
		}
	}
}


