html, body{
	margin: 0;
	padding: 0;
}
html{
	height: 100%;
	overflow: auto;
}
body{
	height: 100%;
	position: relative;
}

#wrapper{
	position: absolute;
	left: 0;
	right: 0; 
	top: 0;
	bottom: 0;
	overflow: hidden;
	background-color: orange;

	#sideMenu{
		width: 90px;
		height: 100%;
		background-color: green;
	}
	#contents{
		position: relative;
		#mainHeader{
			width: 100%;
			height: 20px;
			background-color: yellow;
		}
		#mainMenu{
			width: 160px;
			height: 100%;
			background-color: blue;
		}
		#mainContents{

		}
	}

}