@MainMenu : 95px;
@SideMenu : 160px;
@MainHeader : 42px;
@footNav : 30px;

html, body{
	height: 100%;
	padding: 0;
	margin: 0;
}

body{
	width: 100%;
	overflow: hidden;
	background-color: white;

	#mainMenu{
		float: left;
		height: 100%;
		width: @MainMenu;
		display: block;
		background-color: red;
	}

	#contents{
		height: 100%;
		margin-left: @MainMenu;
		overflow: hidden;

		#mainHeader{
			float:left;
			width: 100%;
			height: @MainHeader;
			background-color: green;
		}

		#subMenu{
			float: left;
			height: 100%;
			width: @SideMenu;
			display: block;
			background-color: blue;

		}

		#wrapper{
			position: relative;
			top: @MainHeader;
			left: @SideMenu;
			height: 100%;
			width: 100%;
			display: block;




			#main{
				position: absolute;
				width: 100%;
				height: 100%;

				display: block;
				background-color: yellow;
			}


			#footNav{
				position: absolute;
				bottom: @MainHeader;
				width: 100%;
				height: @footNav;
				display: block;
				background-color: purple;
			}

			

		}

	}
}
